@charset "UTF-8";
*{padding:0; margin:0; list-style: none;}
a{ color:black; text-decoration: none;}
/*웹폰트 추가 - 눈누*/
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 헤더 */
.header{
	width: 1200px;
	margin:0 auto;
	height:80px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.h_logo{
	width:150px;
	font-family: 'LeferiPoint-BlackA';
	font-weight: bolder;
	font-size:20px;
}
.logo1{color:blue;}
.top_menu{
	width:100%;	
	display: flex;
	justify-content: center;
	font-family: 'LeferiPoint-BlackA';
	font-size:14px;
}
.menu{
	margin: 0 30px;
}

/*----------- 메인 이미지 ---------------*/
#main_img{
	width: 1200px; /* pc웹 표준 권장사이즈 1100~1300px*/
	margin: 0 auto; /* 구역 가운데정렬*/
	margin-top: -5px;
}
.main_img{ width: 100%;}

/*----- 메뉴 1-----------*/
.menu1{ 
	width: 100%;
    display: flex;
    justify-content: center;
    padding: 54px 33px 90px 38px;
} 
.content_menu{ width: 339px; }
.content_menu p{
	font-size: 13px;
	padding-left: 45px; 
}
.content_menu h3{
	padding-left:  45px;
	font-size: 15px;
}
.icon{
	margin: -10px
}
.item{
	display: flex; margin-right: 60px;
}
/*----------------- 메뉴2 ---------------------------*/
.menu2{
	width: 100%; height: 288px;
	background-color: #F9F9F9;
}
.item2{ 
	margin-top: 62px;
	display: inline-block;
    position: relative;
    left: 500px;
}
.sub_img{
	width: 210px;
}
.content_menu2{
	margin-top:  6px;
	
}
.content_menu2 p{
	margin-top:  6px;
}
.menu2 p{font-size: 14px;}

/*푸터*/
.footer{
	width:100%;
	background-color: #292C32;
	color:white;
	padding:50px 0;
	font-size:12px;
}
.footer_main{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.fmenu{
	margin-bottom: 30px;
}
.f_conts {
	margin:0 50px;
}
.fmenu a{
	color:white;
	font-weight: bold;
	padding:0 10px;

}
.finfo li{margin-bottom: 5px;}
.tel{ font-size:25px;}




















































