@charset "UTF-8";

a{/* 모든 a태그 적용 */
	color: black;
	text-decoration: none;/* 밑줄,윗줄,취소선 제거*/	
}
/*액션 속성*/
a:hover{/* 선택자:hover{} 해당 요소에 마우스를 올렸을때 css*/
	color: orange;
	background-color: black;
}
a:active {/* 해당 요소를 클릭 햇을때 css*/
	color: blue;	
}
a:visited {/* 해당 요소를 클릭한 적이 있으면 css*/
	color: red;
}
/*----------------------------------------------------------*/
#header{
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
}
.drop_menu{
	display: inline-block;
	margin-left: 30px;
	position: relative; /* 부모요소에 상대위치 */
}
.sub_menu{
	display: none; /*숨김*/
	position: absolute;
	top: 20px; 
	width: 100px;
	
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding-top: 10px;
}

*{ padding: 0px; margin: 0px;}
li{ list-style-type: none;}
/*메뉴에 마우스를 올렸을때 서브메뉴를 보이기*/
.drop_menu:hover .sub_menu{ display: block;}
/*------------------------드랍메뉴----------------------------*/
.drop_menu{	position: relative;} /* 상대위치 */ 
/**/
.drop_menu{
	position: absolute;/* 절대위치 */
	left: -40px; top: 15px; /* drop_menu 요소 기준으로 왼쪽으로 40px 이동*/
	display: none; /*숨김*/
	width: 100px; /* 드랍메뉴 사이즈*/
	background-color: white; /* 드랍메뉴 배경색*/
	padding: 10px 0px; /* 여백 */
	text-align: center; /* 텍스트 정렬 */
}
/**/
.drop_menu:hover .sub_menu{
	display: block; /* 보이기 */
}


























