@charset "UTF-8";

     .box{
          border: 1px solid blue; /*테두리*/
          width: 100px; /*가로길이*/
     }
          /*가로배치할 요소들의 부모요소 flex*/
     .flex_box1{
                border: 1px solid red; padding: 5px; /*테두리*/
                display: flex; /*하위 요소 배치방법*/
                flex-direction: row; /*방향 : row 기본값*/
                 }
                 /*세로 배치할 요소들의 부모요소에 flex*/
      .flex_box2{
                border: 1px solid red; padding: 5px; /**/
                display: flex; /**/
                flex-direction: column; /*세로배치*/
                }
                /**/
      .flex_box3{
                border: 1px solid red; padding: 5px; /**/
                display: flex; /**/
                flex-direction: row-reverse; /**/
                }
                /**/
      .flex_box4{
                border: 1px solid red; padding: 5px; /**/
                display: flex; /**/
                flex-direction: row-reverse; /**/
                }