@charset "UTF-8";
 *{
   margin: 0; 
   padding: 0;
   font-family: "맑은 고딕"
}

a{text-decoration: none;}

li{list-style-type:none; }
/* 헤더 밑 검정 바 안 색, 위치 조정 */
#menu_black_bar{
   height:58px;
   padding:10px 0;
   display:flex;
   justify-content: center;
   align-items:center;
   background-color: #000000}

/* 검정 바 안 a태그 텍스트 색 */
#menu_black_bar a{
   color: white;
}

/* 검정바 안 내용 블록 크기 */
.black_bar_space{
   width:1184px;
   
}

/* 검정바 안 블록 안 폰트 사이즈 공간 사이즈 */
.black_bar_text {
   width:1144px;
   padding:0 20px;
   font-size: 20px;
   
}

/* 검정바 안 내용물 정렬 */
.black_bar_text li{
   display: flex;
   display: inline-block;
}

/* 소개 글 전체 구역*/
.content_font{
	display: flex;
    
}
.content_font .p_font1{
	font-size: 20px; 
}
.content_font .p_font2{
	font-size: 16px;
	margin-top: 4px
}
.p_foint3{
	font-size: 13px;
	color: #666666;
}

