@charset "UTF-8";

     *{padding: 0px; margin: 0px;  }
.main_name{
	display: flex; 
    justify-content: center; 
    margin-top: 200px;
    margin-bottom: 50px
}
.main_text{
	
	margin: 0 auto; /**/
	border: solid 3px #EEEEEE;
	padding: 50px;
    
    width: 430px;
}
   
.id , .password { 
	border-bottom: 3px solid #eeeeee; 
    width: 430px;
    height: 55px;
    border: none; 
}
.main_radio{
	display: flex;
	justify-content: center;
	position: relative;
	right: 150px;
}
.radio{
	margin-top: 20px;
}
.radio_name{
	margin-top: 20px;
	color: #616274;
	font-size: 12px;
}
.btn1{
	height: 50px;
    background-color: #FEE500;
    border: none;
    border-radius: 10px;
    margin-top:  34px;
    width: 430px;
} 
.btn2{
	width: 430px; height: 50px;
    border: none;
    border-radius: 10px;
    margin-top:  10px;
}  
.info{
	font-size: 12px;
	/*세로를 가로로 정렬함*/
    display: flex;
	justify-content: flex-end;
	
    margin-top: 25px;
    
    
}
.info_box{ color: #EEEEEE }
.footer{
	width: 100%;
	
}
.f_font{
	display: flex;
    font-size: 5px;
    margin-top: 39px;
	justify-content: center;
	
}
.f_font p{
	padding: 0 10px;
}
.font6{
	border: none;
	font-size: 5px;
	color: #878795;
}
.font2{ font-weight: bold;}
.f_info{
	display: flex;
	justify-content: center;
	font-size: 5px;
	margin-top: 10px;
}
.font1{ color: #878795; }
.font3{color: #9A9DAD}

















